services:
  frontend:
    build:
      context: ./frontend/to-do-app
      args:
        VITE_API_URL: ${VITE_API_URL}
    ports:
      - "5173:5173"
    networks:
      - network
    depends_on:
      - backend

  backend:
    build:
      context: ./backend/to-do-app
    env_file:
      - .env
    ports:
      - "8080:8080"
    networks:
      - network
    depends_on:
      - postgres

  postgres:
    image: postgres:latest
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    networks:
      - network
    volumes:
     - db_data:/var/lib/postgresql

networks:
  network:
    driver: bridge

volumes:
  db_data:
